<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3>Forgot Password</h3>
        <form action="/forgotpassword" method="put">
        <label for="Email">Email</label>
        <input type="text" required name="Email" >
        <label for="password">Enter your Password</label>
        <input type="password" required name="Password1" >
        <label for="password">Renter your Password</label>
        <input type="text" required name="Password2" >
        <input type="submit">
        </form>
    </div>
</body>
</html>