<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADV CALCULATOR</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            font-family: 'poppins',sans-serif;
            box-sizing: border-box;
        }
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;

        }
        .inside{
            background: grey;
            height: 50%;
            border-radius: 18px;
            display: grid;
            width: 45%;
        }
        .outside{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        form{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 31px;
        }
        form input{
            border-radius: 5px;
            margin: 2px;
        }
        .login{
            display: block;
            margin-left: 5%;    
        }
        form input.submit{
            border-radius: 2px;
            margin-left: 10%;
            margin-top: 3%;
        }
        .login{
            display: block;
            margin-left: 7%;
            margin-top: -26px;
        }
        .login h4{
            margin-top:10px;
        } 
        
        @media only screen and (max-width: 600px) {
            .inside {
            background: grey;
            height: 57%;
            border-radius: 18px;
            display: grid;
            width: 76%;
        }
        .container h1{
            margin-left: 8%;
        }
        body{
            background-image:url('../cal2.png') !important;
        }
        .login{
            margin-left: 11%;
            margin-top: -27px;
        }
        .login h4{
            margin-top:7px;
        }
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="inside">
            <div class="outside">
    <H1>Welcome ADV's CALCULATOR APP</H1>
    <H5>lOGIN To access calculator app</H5></div>
    <form action="/user-login" method="post">
        <label for="Email">Email</label>
        <input type="text" required name="Email" >
        <label for="Password">Password</label>
        <input type="password" required name="Password">
        <input type="submit" name="submit"  class="submit">
    </form>
    <div class="login">
        <h5>New user SignUp  <a href="/login"> Register</a> </h5>
        <!-- <h4> <a href="/forgotpassword"> forgot password</a> </h4> -->
        
    </div>
</div>
</div>

</body>
</html>