<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3>Reset Your password</h3>
        <form action="/reset" method="post">
            <label for="password">Enter your Password</label>
            <input type="password" required name="Password1" >
            <label for="password">Renter your Password</label>
            <input type="text" required name="Password2" >
            <input type="submit">
        </form>
    </div>
</body>
</html>